
# Python

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/


# IDE

.vscode/
.idea/


# OS

.DS_Store
Thumbs.db


# Environment Variables

.env
.env.*


# Python Cache

.pytest_cache/
.mypy_cache/
.pytype/


# Terraform

.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json


# Databricks

.databricks/


# Runtime Data
bronze/
processed_guid.json

# Metadata generated during runtime
**/metadata/